{% extends 'base.html.twig' %}
{% block body %}
    <section>
        <!-- Page content-->
        <div class="content-wrapper">
            <div class="container container-md pv-lg">
                <div class="text-center mb-lg pb-lg">
                    <div class="h2 text-bold">Launch your business today</div>
                    <p>Select the plan in different options that best fit your project</p>
                </div>
            </div>
            <div class="container container-md">
                <!-- START PLAN TABLE-->
                <div class="row">
                    <!-- PLAN-->
                    <div class="col-md-4">
                        <div class="plan">
                            <h3 class="plan-header">Single</h3>
                            <div class="plan-price">
                                <div class="text-lg"><sup><small>$</small></sup>18
                                    <!-- span.plan-period /mo-->
                                </div>
                            </div>
                            <hr>
                            <div class="text-center"><a href="" class="btn btn-info">Choose</a>
                            </div>
                        </div>
                    </div>
                    <!-- PLAN-->
                    <div class="col-md-4">
                        <div class="plan">
                            <h3 class="plan-header">Multiple</h3>
                            <div class="plan-price">
                                <div class="text-lg"><sup><small>$</small></sup>60
                                    <!-- span.plan-period /mo-->
                                </div>
                            </div>
                            <hr>
                            <p class="plan-description">The perfect price for all your project solutions.</p>
                            <div class="text-center"><a href="" class="btn btn-info">Choose</a>
                            </div>
                        </div>
                    </div>
                    <!-- PLAN-->
                    <div class="col-md-4">
                        <div class="plan">
                            <h3 class="plan-header">Extended</h3>
                            <div class="plan-price">
                                <div class="text-lg"><sup><small>$</small></sup>900
                                    <!-- span.plan-period /mo-->
                                </div>
                            </div>
                            <hr>
                            <div class="text-center"><a href="" class="btn btn-info">Choose</a>
                            </div>
                        </div>
                        <p class="text-center text-muted">
                            <small>* Subject to specific license terms. Price and features listed for demo only.</small>
                        </p>
                    </div>
                </div>
                <p class="text-center text-muted">
                    <small>* Subject to specific license terms. Price and features listed for demo only.</small>
                </p>
            </div>
        </div>
    </section>{% endblock %}