{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <!-- Page content-->
        <div class="content-wrapper">
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-body text-center">
                            <div class="pv-lg">
                                <img src="{{ asset(group.getWebPath()) }}" alt="Group"
                                     class="center-block img-responsive img-circle img-thumbnail thumb96">
                            </div>
                            <h3 class="m0 text-bold">{{ group.name }}</h3>
                            <div class="mv-lg">
                                <p></p>
                            </div>
                            <div class="text-center"><a href="#" class="btn btn-primary">{{ group.createdDate|date('Y-m-d H:i:s') }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
