{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
<div class="col-lg-12">



     
 {% set i = 0  %}

        {% for question in questions %}
      <div class="panel panel-default">
                     <div class="panel-heading">{{i + 1}} - {{question.question}}</div>
                     <div class="panel-body">
                        <form role="form">
                                          
                                              {% for row in res[i] %}
          
      
                       
                             <div class="col-md-4">
                            <div class="checkbox c-checkbox">
                              <label>
                                 <input type="checkbox" >
                                 <span class="fa fa-check"></span> {{row.response}}  </label>
                           </div>						  
                        </div> 
                                                               
                       
                                {% endfor %} 
                   
                           
                            

                        </form>
                     </div>
                       </div>
                                {% set i = i+1  %}

              {% endfor %}

      
  

{% endblock %}
