{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
<div class="col-lg-12">
<div class="panel panel-default">
<div class="panel-heading">
Add questions          <button style="float:right;margin-left:10px" type="button" class=" btn btn-info" id="addquestion">+ Question</button> 
        <button style="float:right;margin-left:10px"  type="button" class="btn btn-success" name="AU" id="AD" >Save</button>

<small></small>
</div>
<div class="panel-body">
<div class="blocquestions">
<div  id="blocquestion" class="blocquestion">
    <div class="block">
<div class="head">
    <h2 class ="title">Question</h2>
    <div class="side fr">

    </div>
</div>
        <div class="content np">   
      <span id="titlebloc"></span>
      
      <div class="panel panel-default">
                     <div class="panel-heading">Question:</div>
                     <div class="panel-body">
                        <form role="form">
                           <div class="form-group">
                              <label>Questions</label>
                            <input class="form-control question"  class="" placeholder="question" type="text">
                           </div>
                         
                                                <div class="form-group">

                                <span class ="isqcm">
                            <span class="blocaddproposal">
                            </span>
                                <div class=" controls-row" >
                                    <div class="row ">
                                    <div  class="col-md-6">

                                    </div>									
                                    </div>									
                                    </div>
                    </div>
                    </div>
                   </span>
                            
                            
                                                                   <button type="button" class=" btn btn-success addproposal" class="">+ Une proposition</button> 

                        </form>
                     </div>
                  </div>
      
  <!--    <div class="controls-row">
        <div class="col-md-4">Question:</div> 
        <div class="col-md-8">
            <input class="form-control question"  class="" placeholder="question" type="text">
        </div>
    </div>
                                            <div class="controls-row">
        <div class="col-md-4">Note:</div>
        <div class="col-md-3">
            <input class="form-control note" onKeypress="

                                     if(event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;
                                     if(event.which < 45 || event.which > 57) return false;"   class="" placeholder="Note" type="text">
        </div>
    </div>

                   </div>
                    <span class ="isqcm">
                            <span class="blocaddproposal">
                            </span>
                                <div class=" controls-row" >
                                    <div class="row ">
                                    <div  class="col-md-6">
                                            <button type="button" class=" btn btn-success" id="addquestion">+ Une question</button> 

                                    </div>									
                                    </div>									
                                    </div>
                    </div>
                    </div>
                   </span>
                                     </div>   
                                     </div>
                                     <span class="blocaddquestion"></span>
                                                    <div class="block">
                                             <div class="content np">   
                                                    <div class=" controls-row" >
                                                    <div class="row ">
                                                    <div  class="col-md-6">

                                    </div>									
                                    </div>									
                                    </div>									
                                    </div>									
<div class="footer">
    <div class="side fr">
    </div>
</div>                                    
</div>
-->



<div class="modal fade" id="myModalConfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<h3 class="modal-title" id="myModalLabel">Confirmation  ?</h3>
</div>
<div class="modal-body">
                            <strong></strong> Confirmez vous cette opération ? 

</div>
<div class="modal-footer">
    <button Onclick="javascript:$('#myModalConfirm').modal('hide');" class="btn btn-danger" type="button" data-dismiss="modal">  Non , je ne confirme pas</button>
    <button href="#"  class="btn btn-success" id="AD" type="button" data-dismiss="modal"> Oui, je confirme</button>

</div>
</div>
</div>
</div>   




<script type="text/javascript">


$(document).on('click', "#AD", function () {



check=true;


if(jQuery('#F1').val()=='')
{jQuery('#F1').parent().parent().addClass("error"); jQuery('#myModalConfirm').modal('hide');check=false; }
questions=[]
// questions.push({'titre':$("#F1").val()})
$( ".blocquestions .blocquestion" ).each(function(  ) {
var bloc = $(this) ;

//console.log(bloc) ;
// console.log($(".question" , bloc)) ;
titlequestion = (bloc.find( ".question" )).val()




if((bloc.find( ".question" )).val() =='')
{(bloc.find( ".question" )).parent().parent().addClass("error"); check=false; } 




proposals=[]
$( ".blocaddproposal .blockofresesponse" ,bloc  ).each(function(  ) {

// console.log(($(this).find( ".proposal" )).val())
// console.log(($(this).find( ".istrueproposal" ).is(':checked') ? 1 : 0))




if($(this).find( ".proposal" ).val() =='')
{($(this).find( ".proposal" )).parent().parent().addClass("error"); check=false; }   
if($(this).find( ".note" ).val() =='')
{($(this).find( ".note" )).parent().parent().addClass("error"); check=false; }   



proposals.push({proposal:($(this).find( ".proposal" )).val(), point:($(this).find( ".point" )).val()}); 

})

question=[]
question = {'question':titlequestion , 'proposals' :proposals}

questions.push(question)



});
if (check == false) return false; 						

jQuery.ajax({
url: "{{ path('add_question') }}",
data: {questions: questions  },
dataType: "json",
type: "POST",
success: function(data) {
jQuery('#myModalConfirm').modal('hide');
jQuery('#rm-notification-success').css("display","block");


}
}) 
});




var i = 2 ;
$("#addquestion").bind('click', function() {
var question_section = $("#blocquestion").clone();

question_section.find( ".title" ).html("Question N° " + i);

(question_section.find( ".blocaddproposal div" )).remove();
$("input[type=radio]", question_section).attr( "name", "optionsRadios"+i);




console.log(question_section) ;
$(question_section).appendTo(".blocquestions");

i = i+1 ;


} )



$(document).on('click', ".cancledproposal", function () {

($(this).parent().parent()).remove()

});

var proposition = 1 ; 

 
$(document).on('click', ".addproposal", function () {
       html="";
         html+='<div  class="form-group blockofresesponse">'
      
        html+='<div class="col-md-5">'
        html+='<input class="form-control proposal" name="F1"  placeholder="proposition" type="text">'
        html+='</div>'
             html+='<div class="col-md-5">'
           html+='<input class="form-control point" onKeypress=" if(event.keyCode < 45 || event.keyCode > 57) event.returnValue = false; if(event.which < 45 || event.which > 57) return false;"   class="" placeholder="Note" type="text"></div></div>'
        html+='</div>' 
                                                    html+='<div class="col-md-2">'
        html+='<button type="button" class=" btn btn-danger cancledproposal" class="">X la proposition</button>'
        html+='</div>'
       html+='</div>'
       console.log($(this).parent().parent().parent().parent())
console.log((".blocaddproposal",$(this).parent().parent().parent().parent()))
$(html).appendTo((($(this).parent().parent().parent().parent()).find( ".blocaddproposal" )));


proposition =proposition+1 ;

} )

</script>	
<script type="text/javascript">
function  showModelConfirmation(id){
jQuery('#myModalConfirm .success').attr("id",id);
jQuery('#myModalConfirm').modal('show');
}
</script>
{% endblock %}
